[database]
host =
user_pro =
user_scan =
user_parc =

[UniProt]
version =
date =
swissprot_file =
trembl_file =

[directories]
out =
tmp =
tab =

[cluster]
queue =

[mail]
server =
sender =
interpro =
aa =
uniprot =
